.headerContainer{
    background-color: darkgrey;
    height:300px;
    /* padding: 1px;
    margin-top:2; */
    /* text-align: right;   */

}
h2{
    color:white;
    font-size: 40px;
    text-align: left;
}

.headerLink {
    text-decoration: none;
    padding: 5px;
}
.logInForm{
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    color:black;
    background:white;
}

.signUpForm{
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    color:black;
    background:white;
}
/* .homepage{
    text-decoration: none;
    padding: 5px;
    border: solid;
    border-radius: 10px;
    margin: 5px;
    color:black;
    background:white;
} */
.result{
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    color:black;
    background:white; 
}

.navButton{
    display: inline-block;

}