*{
    box-sizing: border-box;
  }
.signUpForm-form{
  position:relative;
  margin-top: -30px;
}

.registrationForm{
  width:50%;
  height:500px;
  /* margin-top: 5px; */
}
.signUpForm-form{
  background-image: url(../../souleymane-3.jpg);
  height:1000px;
}


input{
width:100%;
line-height: 2em;
padding:0.5em;
border-radius: 2px;
}
.btn{
width: 100%;
line-height: 2em;
padding:0.5em;
border-radius: 2px;
font-size:20px;
color:white;
background-color:red;
cursor:pointer;
font-weight: 200px;
}
@media all and (max-width: 640px) {

  .registrationForm{
    width:50%;
    height:450px;
    margin-top: 1px;
  }
.btn{
  width:100%;
  margin:0 auto;
 font-size:20px;
  color:white;
  cursor: pointer;
  background-color:red;
}
  }
