h1{
    background:red;
    color:white;
    
}

.firtssection{
    border:solid;
    /* border-radius: 5%; */
    margin:10px;
}

.secondsection{
    border:solid;
    margin:10px;
    /* border-radius: 5%; */
}
.thirdsection{
    border:solid;
    margin:10px;
    /* border-radius: 5%; */
}