* {
    box-sizing: border-box;
    /* text-align: center; */
  }
  /* body {
    background: transparent url(../../images/souleymane-3.jpg) no-repeat fixed center center/cover;
    margin: 0 auto;
    position: relative;
} */


  

