*{
  box-sizing: border-box;
}
  
  /* fieldset {
    max-width: 80%;
    margin: 10px 10px  10px 10px;
    /* display: flex; */
    /* border: none;
    height:200px;
    border-radius: 4px;
    box-shadow: -1px 1px 5px 4px black; 
    padding: 3px; */
  /* }  */
  /* .form-group{
    margin: 10px 10px  10px 10px;
  } */
    /* label{
      margin: 1em 0 0 0;
      padding: .25em 0;
      text-align: left;
      width: auto;

    } */
    /* .LoginForm{
     margin-top: 10px;
    }
  
    input {
      width: 100%;
      line-height: 2em;
      padding: 0 .5em;
      border-radius: 2px;
      border: 2px solid; 
      

    }
  
    input:focus {
      border: 2px solid;
    }
  
    div {
      margin: 1em;
    }
    
    h3{
        text-align: center;
        color:black;
        margin:2px;
    }
   */
  
  /* .error-msg {
    color: $color-error;
  }
   */
  /* .warning-msg {
    margin-top: 1em;
    color: red;
    font-size: 12px;
  }
   */
  /* input[type='submit'] {
    /* margin: 2em auto 1em auto; */
    /* margin-top:5px;
    padding: 0.25em 0;
    width: 60%;
    background-color: black;
    color:white;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0px black;
    cursor: pointer; */
    
  /* } */ 
    
  /* .login-form__user-name-label{
      background-color: chartreuse;
  } */
  /* .logInForm{
    background-color: chartreuse;
  } */
  /* @media only screen and (min-width: 640px) {
    fieldset {
      width: 80%;
      padding: 1em 2em;
    }
  
    .login-page {
      padding: 1em;
      margin: 2em auto;
    }
    
    .registration-page {
      padding: 1em;
      margin: 2em auto;
    }
  } */


  /* ............@media Query...........................*/

/* @media all and (min-width: 640px) {
  .LoginForm {
     margin: 20px;
      width: 80%;
      padding: 1em 2em;
    }
  
    .login-page {
      padding: 1em;
      margin: 2em auto;
    }
  } */
/* Media Query and type  for screen smaller or equal to 640px*/
/* @media all and (max-width: 640px) {
  .headerContainer {
    width: 90%;
    margin: auto;
    height:250px;
    flex-direction: row;
    margin-bottom:15px;
  }
  h2{
      color:white;
      font-size: 20px;
      text-align: center;
  }
  .navButton{
      justify-content: center;
      text-align:center;
  } */

  /* .group {
    flex-direction: row;
  } */
/* } */