*{
    box-sizing: border-box;
    
}


.site-nav{
  position:relative;
  margin: 0;
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../community-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}


.titlelink{
  color:orange;
  font-size: 60px;
}

.registerLink{
  position:absolute;
  right:90px;
  padding:2px;
  color:orange;
  border:solid orange;
  width:70px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
 
}
.loginLink{
  position:absolute;
  right:10px;
  padding:2px;
  color:orange;
  border:solid;
  width:70px; 
  height: 30px;
  text-align: center;
  border-radius: 10px;
 
}


.addResultlink{
  position:absolute;
  right:80px;
  padding:2px;
  border:solid orange;
  color:orange;
  width:80px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}
.addResultlink:hover {
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}

.logoutlink{
  position:absolute;
  right:10px;
  padding:2px;
  border:solid;
  border:solid orange;
  color:orange;
  width:60px; 
  height: 30px;
  text-align: center;
  border-radius: 10px;
}
.logoutlink:hover {
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}


.registerLink:hover {
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}

.loginLink:hover {
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}


  nav {
    display: flex;
    max-width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 .5em;
  }
  
  .resultlink{
    margin: 30px;
    color:black;
    width:40px;
    border-radius: 5px;
    
  }
  
     a {
      font-size: 14px;
      text-decoration: none;
    }
  
    div a {
      font-size: 14px;
      text-decoration: none;
    }
  
    h1 {
      font-size: 2px;
     
    }
    .titlelink{
      display: inline-block;
      margin: 0 0.5rem;
      animation: bounce; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s; /* don't forget to set a duration! */
      color:orange;
      font-size: 60px;
    }
  
  /* -------------------------------MEDIA QUERY----------------------------*/
  @media only screen and (max-width: 620px) {
    
    nav {
      padding: 5px;
      display: flex;
      flex-direction: row;
    }

     .site-nav__dir {
      display: flex;
      flex-direction: row;
    }
    .site-nav{
      height:350px;
      width:100%;
      margin-bottom:40px;
    }

       a {
        font-size: 1em;
        text-decoration: none;
      }
    
      div a {
        font-size: 1em;
        text-decoration: none;
      }
    
      h1 {
        font-size: 30px;
        text-align: center;
        margin-top:-120px;
        margin-right:400px;
       
      }
      .registerLink{
        position:absolute;
        right:250px;
        padding:2px;
        border:solid orange;
        width:80px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
        top:250px;
        left:100px;
       
      }
      .loginLink{
        position:absolute;
        right:150px;
        padding:2px;
        border:solid;
        width:60px; 
        height: 30px;
        text-align: center;
        border-radius: 10px;
        top:250px;
        left:200px;
       
      }
      .logoutlink{
        position:absolute;
        right:10px;
        padding:2px;
        border:solid;
        width:60px; 
        left:300px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
        top:270px;
        left:200px;
      }

      .addResultlink{
        position:absolute;
        right:80px;
        padding:2px;
        border:solid orange;
        left:200px;
        width:80px;
        height: 50px;
        text-align: center;
        border-radius: 10px;
        top:270px;
        left:100px;
      }

    }
  

