*{
    box-sizing: border-box;
}

/* 
.headerContainer{
    background-color: #808080;
    height:100px;
    max-width:90%;
    margin: 5px 5px 100px 50px;
   
}

h2{
    color:white;
    font-size: 20px;
    text-align: left;
}

.LogoLink {
    text-decoration: none;
    padding: 5px;
}

.result{
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 10px;
    color:black;
    background:white; 
}
.month{
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  font-size: 10px;
  color:black;
  background:white; 
}
.LoginPage{
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 10px;
    color:black;
    background:white;
}
.registrationPage{
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 10px;
    color:black;
    background:white;
} */



/*.......................Navigation..................................... */
 /* .navButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 15px;
    list-style-type: none;
    margin-bottom:10px;
  } 
  
  
  .navButton a{
    color: black;
    text-decoration: none;
    margin: 0 20px 0 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  .navButton a:hover {
    color: black;
  }
  .navButton:last-child a {
    margin-right:2px;
  } */

  /* ............@media Query...........................*/

/* @media all and (min-width: 640px) {
    header {
      display: flex;
      height:200px;
      justify-content: space-between;
    }
  
    .logo {
      margin: 14px 0 14px 20px;
      padding-top: 0;
      font-size: 42px;
    }
    
    .navButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 15px;
        list-style-type: none;
        margin: 14px 0 14px 20px;
        text-align: right;
      }
  } */
  /* Media Query and type  for screen smaller or equal to 640px*/
  /* @media all and (max-width: 640px) {
    .headerContainer {
      width: 90%;
      margin: auto;
      height:250px;
      flex-direction: row;
      margin-bottom:15px;
    }
    h2{
        color:white;
        font-size: 20px;
        text-align: center;
    }
    .navButton{
        justify-content: center;
        text-align:center;
    }

  } */

  nav {
    border-bottom: 2px solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    padding: 0 .5em;
  }
  
  .site-nav__dir a:nth-child(1) {
      margin-right: .5em;
    }
  
   .site-nav__dir--logged-in a:nth-child(1) {
      margin-right: .5em;
    }
  
     a {
      font-size: 14px;
      text-decoration: none;
    }
  
    div a {
      font-size: 14px;
      text-decoration: none;
    }
  
    h1 {
      font-size: 18px;
    }
  
  
  @media only screen and (min-width: 520px) {
    nav {
      padding: 0 1em;
    }
       a {
        font-size: 1em;
        text-decoration: none;
      }
    
      div a {
        font-size: 1em;
        text-decoration: none;
      }
    
      h1 {
        font-size: 24px;
      }
    }
  

