*{
    box-sizing: border-box;
    /* background-image: url(../../souleymane-3.jpg); */
    /* text-align: center; */
}


.site-nav{
  position:relative;
  margin: 0;
  height: 100px;
  background-color: #EAF6F6;
  width: 100%;
  /* background-image: url(../../souleymane-3.jpg);  */
}


.titlelink{
  position:absolute;
  font-size: 30px;
  margin-top: -20px;
  /* margin-bottom: 60px; */


}

.registerLink{
  position:absolute;
  right:80px;
  padding:2px;
  border:solid black;
  width:80px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
 
}
.addResultlink{
  position:absolute;
  right:80px;
  padding:2px;
  border:solid black;
  width:80px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}
.addResultlink:hover {
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}

.logoutlink{
  position:absolute;
  right:10px;
  padding:2px;
  border:solid;
  width:60px; 
  height: 30px;
  text-align: center;
  border-radius: 10px;
}
.logoutlink:hover {
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}


.registerLink:hover {
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}
.loginLink{
  position:absolute;
  right:10px;
  padding:2px;
  border:solid;
  width:60px; 
  height: 30px;
  text-align: center;
  border-radius: 10px;
 
}
.loginLink:hover {
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}


  nav {
    border-bottom: 2px solid;
    display: flex;
    max-width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 .5em;
  }
  
  .resultlink{
    margin: 30px;
    color:black;
    width:40px;
    border-radius: 5px;
    
  }
  
     a {
      font-size: 14px;
      text-decoration: none;
    }
  
    div a {
      font-size: 14px;
      text-decoration: none;
    }
  
    h1 {
      font-size: 2px;
    }
  
  
  @media only screen and (max-width: 620px) {
    
    nav {
      padding: 5px;
      display: flex;
      flex-direction: row;
    }

     .site-nav__dir {
      display: flex;
      flex-direction: row;
    }
    .site-nav{
      height:200px;
      width:100%;
      margin-bottom:40px;
    }

       a {
        font-size: 1em;
        text-decoration: none;
      }
    
      div a {
        font-size: 1em;
        text-decoration: none;
      }
    
      h1 {
        font-size: 30px;
        text-align: center;
        margin-top:-120px;
        margin-right:400px;
       
      }
      .registerLink{
        position:absolute;
        right:250px;
        padding:2px;
        border:solid black;
        width:80px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
       
      }
      .loginLink{
        position:absolute;
        right:150px;
        padding:2px;
        border:solid;
        width:60px; 
        height: 30px;
        text-align: center;
        border-radius: 10px;
       
      }
      .logoutlink{
        position:absolute;
        right:10px;
        padding:2px;
        border:solid;
        width:60px; 
        left:300px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
      }

      .addResultlink{
        position:absolute;
        right:80px;
        padding:2px;
        border:solid black;
        left:200px;
        width:80px;
        height: 50px;
        text-align: center;
        border-radius: 10px;
      }

    }
  

